<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="stu" class="com.asu.entity.Student">
		<property name="sname" value="老谢"></property>
	</bean>

	<!-- IOC创建对象的方式之一，通过构造器（构造方法） -->
	<bean id="stu1" class="com.asu.entity.Student">
		<property name="sname" value="老李"></property>
	</bean>

</beans>